{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "import": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/react-in-jsx-scope": "off"
  }
}
