{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 11
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
